.MenuToggle {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    z-index: 100;
    transform: translateX(0px);
    transition: opacity, left .22s ease-in-out;
}

.MenuToggle:hover {
    opacity: .7;
}

.MenuToggle.open {
    right: 320px;
}

.MenuToggle.close {
    transform:  translateX(200px);
}
